/* .p{
    color: brown;
    background-image:url ("Images\photo.jpg");
} */
.rab{
   background-color: chocolate;
    background-image:url('../photo.jpg');
height: 300px;

background-position: center;
    background-repeat:no-repeat;
    background-size:cover;

   }